*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	min-height: 10vh;
	background-color: #3C40C6;	
	font-family: 'Poppins', sans-serif;
	padding: 0px 40px;

}

.logo {
	color: rgb(226,226,226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.nav-links {
	display: flex;
	justify-content: space-around;
	width: 50%;
}

.nav-links li {
	list-style: none;
}

.nav-links a{
	color: rgb(226,226,226);
	text-decoration: none;
	letter-spacing: 3px;
	font-weight: bold;
	font-size: 14px;
}

.burger {
	display: none;
	cursor: pointer;
}

.burger div {
	width: 30px;
	height: 3px;
	background-color:rgb(226,226,226);
	margin: 5px;
	transition: all 0.3s ease;
}


@media screen and (max-width: 1024px) {
	.nav-links {
		width: 60%;
	}
}

@media screen and (max-width: 768px) {

	body {
		overflow-x: hidden;
	}
	nav {
		/*padding: 0 auto;*/
		width: 100%;
		/*padding: 0.1rem;*/
		display: flex;
		justify-content: space-between;
		align-items: center;
	}	
	.nav-links {
		/*position: absolute;
		right: 0px;
		top: 8vh;
		height: 90vh;
		background-color: #3C40C6;*/
		display: none;
		width: 40%;
		transform: translateX(100%);
		transition: transform 0.5s ease-in;
	}
	.nav-links li{
		opacity: 0;
	}

	.burger {
		display: block;
	}

}

.nav-active {
	display: flex;
	flex-direction: column;
	align-items: center;
	position: absolute;
	right: 0px;
	top: 8vh;
	height: 90vh;
	background-color: #3C40C6;
	width: 50%;
	transform: translateX(0%);
}



@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateX(50%);
	}
	to {
		opacity: 1;
		transform: translateX(0%);
	}
}

.toggle .line1{
	transform: rotate(-45deg ) translate(-5px,6px);
}

.toggle .line2{
	opacity: 0;
}

.toggle .line3{
	transform: rotate(45deg) translate(-5px,-6px);

}


section {
	height: 90vh;
	background: url(https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcSATX7Tjjyz0w26ErVaZLiHcG-bbnmL-I37s6dvIhJGDeHBfa2I) center center no-repeat fixed;
	background-size: cover;
}
